body {
    background-color: #1a2a33;
    color: #DBE8ED;
}

@media (max-width: 400px) {
    #page_two {
        display: none;
    }
    #start_here {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #player_select {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 3rem;
        width: 55vw;
        height: 15vh;
        border-radius: 1rem;
        background-color: #1f3641;
    }
    #ex {
        margin-top: 1rem;
        cursor: pointer;
    }
    #oh {
        margin-top: 1rem;
        cursor: pointer;
    }
    #required {
        display: none;
    }
    input {
        display: none;
    }
    #center {
        display: flex;
        justify-content: center;
        align-content: center;
        
    }
    #begin {
        display: flex;
        justify-content: center;
    }
    #turn {
        display: flex;
    }
    .game_space {
        border: 2px, black;
        width: 100vw;
        height: 60vh;
        display: grid;
        grid-template-rows: 33% 33% 33%; 
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
        
        
    }
    .set {
        cursor: click-disabled;
    }
    .block {
        border-radius: 1rem;
        width: 25vw;
        font-size: 64px;
        background-color: #1f3641;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
    }
    .score {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .box {
        width: 28vw;
        height: 15vh;
        display: flex;
        justify-content: center;
        text-align: center;
        box-shadow: 1rem;
    }
    #p1 {
        background-color: #F2B137;
        border-radius: 1rem;
    }
    #draw {
        background-color: #A8BFC9;
        border-radius: 1rem;
    }
    #p2 {
        background-color: #31C3BD;
        border-radius: 1rem;
    }
    .hide {
        display: none;
    
    }
    /* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #1f3641;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  .ftw {
    display: none;
  }
  
    
}

@media (min-width: 401px) {
    #page_two {
        display: none;
    }
    #start_here {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #player_select {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 3rem;
        width: 55vw;
        height: 15vh;
        border-radius: 1rem;
        background-color: #1f3641;
    }
    #ex {
        margin-top: 1rem;
        cursor: pointer;
    }
    #oh {
        margin-top: 1rem;
        cursor: pointer;
    }
    #required {
        display: none;
    }
    input {
        display: none;
    }
    #center {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 50vw;
        height: 30vh;
        
    }
    #begin {
        display: flex;
        justify-content: center;
    }
    #turn {
        display: flex;
    }
    .game_space {
        border: 2px, black;
        
        display: grid;
        gap: 15rem;
        grid-template-rows: 15% 15% 15%; 
        grid-template-columns: 15% 15% 15%;
        justify-content: center;
        
        
    }
    .set {
        cursor: click-disabled;
    }
    .block {
        border-radius: 1rem;
        width: 15vw;
        font-size: 64px;
        background-color: #1f3641;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
    }
    .score {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .box {
        width: 28vw;
        height: 15vh;
        display: flex;
        justify-content: center;
        text-align: center;
        box-shadow: 1rem;
    }
    #p1 {
        background-color: #F2B137;
        border-radius: 1rem;
    }
    #draw {
        background-color: #A8BFC9;
        border-radius: 1rem;
    }
    #p2 {
        background-color: #31C3BD;
        border-radius: 1rem;
    }
    .hide {
        display: none;
    
    }
    /* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #1f3641;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  .ftw {
    display: none;
  }
    

}