body {
    /*background-color: #1a2a33;*/
}

@media (max-width: 400px) {
    #game_space {
        border: 2px, black;
        background-color: #1f3641;
        width: 100vw;
        height: 40vh;
        
    }
    .container {
        
        border: 1px;
        display: grid;
        grid-template-rows: 33%, 33%, 33%; 
        grid-template-columns: 33%, 33%, 33%;
    }
    .row {
        
    }
    .col {
        height: 1rem;
        width: 1rem;
    }
}

@media (min-width: 401px) {
    #game_space {
        background-color: red;
        border-width: 2px;
    }

    .container {
        border: 1px;
    }
    

}