body {
    /*background-color: #1a2a33;*/
}

@media (max-width: 400px) {
    #center {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .game_space {
        border: 2px, black;
        background-color: #1f3641;
        width: 80vw;
        height: 40vh;
        display: grid;
        grid-template-rows: 33% 33% 33%; 
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
        
        
    }
    
    .block {
        
        width: 13vw;
        border: 1px, red;
        background-color: whitesmoke;
        justify-items: center;
        align-items: center;
        aspect-ratio: 1;
    }
    .ex {
        display: none;
    
    }
    .oh {
        display: none;
    }
}

@media (min-width: 401px) {
    #game_space {
        background-color: red;
        border-width: 2px;
    }

    .container {
        border: 1px;
    }
    

}